<a href="https://colab.research.google.com/github/Omdena-Bhutan/02-data-structures-assignment-team-2/blob/main/Week_5_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Arithmetic Operators

In [ ]:
# Addition - `+`
print(5 + 5)

In [ ]:
# Subtraction - `-`
print(50 - 5)

In [ ]:
# Multiplication = *
print(5 * 5)

In [ ]:
# Division - /
print(50 / 5)

In [ ]:
# Floor Division Operator - //
print(50 // 6)

In [ ]:
# Modullus - %
print(50 % 6)

In [ ]:
# Exponent
print(5 ** 5)

Assignment Operators

In [ ]:
# Assign '='
x = 5
print(x)

In [ ]:
# Add and asign - '+='
x += 5
print(x)

In [ ]:
# Subtract and assign - '-='
x -= 3
print(x)

In [ ]:
# Multiply and assign '*='
x *= 3
print(x)

In [ ]:
# Divide and assign /=
x /= 7
print(x)

In [ ]:
 #Floor divide and assign //=
 x = 16
 x //= 5
 print(x)

3

In [ ]:
# Modulus and assign = '%='
x = 9
x %= 6
print(x)

In [ ]:
# Exponent and assign
x **= 2
print(x)

Identity Operators


*   Used to check if 2 objects are in the same memory location

In [ ]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]

In [ ]:
print(x is y)

In [ ]:
print(x is z) # False

Membership Operators


*   Used to check if a value exists in a sequence

In [ ]:
# in
"a" in "apple"

In [ ]:
"x" in "Orange"

In [ ]:
# not in
"a" not in "apple"

Bitwise Operators

In [ ]:
# AND &
print(4 & 2)

In [ ]:
# XOR ^
print(5 ^ 3)

In [ ]:
# NOT ~
~5

In [ ]:
# Left Shift
5 << 1

In [ ]:
# Right Shift
5 >> 1

# Logical Operators
- used to combine conditions

In [ ]:
# And - it returns a true in cases where both conditions are True

In [1]:
True and True

True

In [2]:
True and False

False

In [ ]:
False and True

In [ ]:
False and False

In [ ]:
5 > 3 and 2 < 4

In [ ]:
# OR - It returns a True if at least one condition is True

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
False or True

In [ ]:
False or False

In [ ]:
5 > 3 or 2 > 4

In [ ]:
# Not - Reversses the result

In [ ]:
not True

In [ ]:
not False

In [ ]:
not(5 > 3)